[user]
name = Jérémie Roquet
email = jroquet@arkanosis.net
signingkey = jroquet@arkanosis.net
useconfigonly = true

[alias]
st = status
df = diff
b = branch
ci = commit -a
co = checkout
lg = log --graph
unadd = reset
uncommit = reset --soft HEAD^
unamend = reset --soft HEAD@{1}
unrm = checkout HEAD^

[color]
branch = auto
diff = auto
grep = auto
interactive = auto
status = auto

[color "status"]
added = green
changed = blue
untracked = magenta

[commit]
gpgsign = true

[core]
pager = delta

[delta]
line-numbers = true
side-by-side = true

[diff]
tool = vimdiff

[gitreview]
remote = origin

[interactive]
diffFilter = delta --color-only

[log]
decorate = full

[pull]
rebase = true

[push]
default = current

[rebase]
autoStash = true

[tig]
diff-options = --show-signature

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
