[user]
name = Jérémie Roquet
email = jroquet@arkanosis.net
signingkey = jroquet@arkanosis.net
useconfigonly = true

[alias]
st = status
df = diff
b = branch
ci = commit -a
co = checkout
lg = log --graph
unadd = reset HEAD
uncommit = reset --soft HEAD^
unamend = reset --soft HEAD@{1}

[color]
branch = auto
diff = auto
grep = auto
interactive = auto
status = auto

[color "status"]
added = green
changed = blue
untracked = magenta

[commit]
gpgsign = true

[diff]
tool = vimdiff

[gitreview]
remote = origin

[log]
decorate = full

[pull]
rebase = true

[push]
default = current

[rebase]
autoStash = true

[tig]
diff-options = --show-signature
