[user]
name = Jérémie Roquet
email = jroquet@arkanosis.net

[push]
default = current

[color]
diff = auto
status = auto
branch = auto

[color "status"]
added = green
changed = blue
untracked = magenta

[alias]
st = status
df = diff
b = branch
ci = commit -a
co = checkout
unadd = reset HEAD

[diff]
tool = vimdiff
