[submodule "tmux/.tmux/tmux-copycat"]
	path = tmux/.tmux/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
	branch = master

[submodule "tmux/.tmux/tmux-thumbs"]
	path = tmux/.tmux/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs.git
	branch = master
