*~
*#
*.bak
*.kdb
*.kdbx
*.elc
*.pass
*.pem
*.pyc
.directory
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/eshell
pywikibot/.pywikibot/apicache
pywikibot/.pywikibot/pywikibot.lwp
pywikibot/.pywikibot/throttle.ctrl
ssh/.ssh/config.local
weechat/.weechat/logs
weechat/.weechat/weechat.log
zsh/.zsh/exalead
