[submodule "tmux/.tmux/tmux-copycat"]
	path = tmux/.tmux/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
	branch = master

[submodule "tmux/.tmux/tmux-yank"]
	path = tmux/.tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
	branch = master
