Port 22

UsePrivilegeSeparation sandbox

SyslogFacility AUTH
LogLevel INFO

Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

AuthorizedKeysFile /home/.ssh/%u

UsePAM yes
HostbasedAuthentication no
PasswordAuthentication no
ChallengeResponseAuthentication yes
PubkeyAuthentication yes
AuthenticationMethods publickey,keyboard-interactive:pam

PermitRootLogin no
PermitEmptyPasswords no
StrictModes yes

AllowUsers {{ salt['arkonf.allowed_ssh_users'](pillar['users'], pillar['local_users']) | sort(attribute='login') | join(' ', attribute='login') }}

LoginGraceTime 30
MaxAuthTries 3
MaxStartups 3:30:10

X11Forwarding yes
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
ClientAliveInterval 30
ClientAliveCountMax 3
StreamLocalBindUnlink yes

AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/ssh/sftp-server

Match User borgbackup
      AuthenticationMethods publickey

Match User rssht-user
      AuthenticationMethods publickey

{% if 'known_ips' in pillar and pillar['known_ips'] %}
Match Address {{ pillar['known_ips'] | default([]) | join(',') }}
      AuthenticationMethods publickey
{% endif %}

{% if salt['arkonf.allowed_sftp_users'](pillar['users'], pillar['local_users']) %}
Match User {{ salt['arkonf.allowed_sftp_users'](pillar['users'], pillar['local_users']) | sort(attribute='login') | join(',', attribute='login') }}
      AuthenticationMethods publickey
      ForceCommand internal-sftp
      ChrootDirectory /var/sftp/%u
      PermitTunnel no
      AllowAgentForwarding no
      AllowTcpForwarding no
      X11Forwarding no
{% endif %}
