@-moz-document
  url-prefix("http://www.google.fr/reader/view/"),
  url-prefix("https://www.google.fr/reader/view/"),
  url-prefix("http://www.google.com/reader/view/"),
  url-prefix("https://www.google.com/reader/view/")
{

  #entries
  {
    padding: 0 !important;
  }

  .entry .entry-body, .entry .entry-title, .entry .entry-likers
  {
    max-width: 750px !important;
  }

  #entries.list .collapsed:hover, #entries.list .read .collapsed:hover
  {
    background-color: #99FFCC !important;
  }

  #entries.list .read .collapsed
  {
    background-color: #CCCCFF !important;
  }

  #entries.list .collapsed
  {
    border-width: 0 !important;
    padding: 3px 0 !important;
    height: 25px !important;
  }

  #chrome
  {
    margin-left: 200px !important;
  }

  #nav
  {
    width: 200px !important;
  }

  #viewer-header
  {
    height: 33px !important;
  }

  #top-bar
  {
    height: 50px !important;
  }

  #overview-selector, #lhn-selectors .selector
  {
    padding-left: 11px !important;
  }
}

@-moz-document
  url-prefix("http://www.google."),
  url-prefix("https://www.google."),
{
  button.esw
  {
    display: none !important;
  }
}
